services:
  web:
    build: .
    ports:
      - "8000:8000"
    volumes:
      - .:/app    # bind mount
    env_file:
      - .env
    depends_on:
      - db
      - redis

  db:
    image: postgres:18
    volumes:
      - db_data:/var/lib/postgresql/data
    env_file:
      - .env

  redis:
    image: redis:7
    ports:
      - "6379:6379"

volumes:
  db_data:
